services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: energy-project-api
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    ports:
      - "8080:8080"

  tests:
    build:
      context: .
      dockerfile: Dockerfile
      target: testrunner
    image: energy-project-tests
    command:
      - dotnet
      - test
      - Energy_Project.sln
      - -c
      - Release
      - --logger:trx;LogFileName=test-results.trx
      - --results-directory
      - /TestResults
    volumes:
      - ./TestResults:/TestResults
